/*** GENERAL ***/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
nav,
ul,
.hero-content,
.hero-mImage,
.info > div  {
    display: flex;
}

ul,
.hero-content {
    gap: 16px;
}

.hero-mText,
.hero-mImage {
    flex-grow: 1;
    flex-basis: 0;
}

.btn,
.hero-logo,
.hero-mText span,
.info-mText  {
    font-weight: 900;
}

.hero-content p,
a {
    color: #e5e7eb;
}

.hero-logo,
.hero-mText {
    color: #f9faf8;
}

.hero-content,
nav,
.info > div  {
    margin-bottom: 96px;
}

.hero-mImage,
nav {
    align-items: center;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;

    flex-direction: column;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    cursor: pointer;
}

.hero-mImage,
.info > div {
    justify-content: center;
}

/* HEADER SECTION */

.hero-logo {
    font-size: 24px;
    margin-right: auto;
    text-transform: capitalize;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hero-mText span {
    font-size: 48px;
}

.hero-mText p {
    margin-bottom: 16px;
}

.hero-mImage {
    background-color: #5f656d;
}

header {
    padding: 8px 96px;
    background-color: #1f2937;
}

/* INFORMATION SECTION */

.info {
    text-align: center;
}

.info > div {
    gap: 32px;
}

.info-mText {
    font-size: 36px;
    color: #1f2937;
    display: inline-block;
    padding: 32px 0;
}

.info-card {
    width: 150px;
}

.info-card div {
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
    margin-bottom: 8px;
}

.quote {
    background-color: #e5e7eb;
    padding: 96px 257px;
}

.quote  p {
    font-size: 32px;
    font-style: italic;
    color: #1f2937;
    text-align: justify;
}

.quote div{
    text-align: right;
    font-weight: 900;
}

.btn-white {
    border: 2px solid #f9faf8;
}

.cta-sec {
    padding: 96px 200px;
}

.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px 64px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
}

.cta p {
    color: #e5e7eb;
}

footer {
    color: #f9faf8;
    font-weight: 900;
    padding: 32px;
    background-color: #1f2937;
    text-align: center;
}